@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-image: url("https://t4.ftcdn.net/jpg/09/02/53/81/360_F_902538150_JCEcejSQkRHHR7d5jE1nbmfhXHdcd9E3.jpg");
  backdrop-filter: blur(2px)   ;
  background-repeat: no-repeat;
  background-size: cover;
}